.banner {
    background: url("../../images/testimonials/content.jpg");
    .banner-wp {
        .left-part {
            position: relative;
            z-index: 10;
            padding: 15px 15px 14px;
            float: left;
            background: #231e13;
            .best-place {
                padding: 13px 53px 12px 25px;
                border: 1px solid #6f6859;
                figure {
                    img {
                        opacity: 0.66;
                        max-width: 100%;
                        height: auto;
                    }
                    figcaption {
                        margin: 39px 0 0 40px;
                        float: right;
                        h3 {
                            max-width: 320px;
                            font-family: "Maiden Orange", sans-serif;
                            font-size: 35px;
                            line-height: 36px;
                            text-transform: uppercase;
                            color: #D4CAB4;
                        }
                    }
                }
            }
        }
        .thumb {
            display: block;
            float: right;
            overflow: hidden;

            img {
                max-width: 100%;
                height: auto;
            }
            &::after {
                content: "";
                text-align: center;
                position: absolute;
                font: 400 24px/78px 'FontAwesome';
                width: 76px;
                height: 76px;
                left: 54%;
                top: 120px;
                margin-top: -38px;
                padding-left: 27px;
                background: #231e13;
                color: #d4cab4;
                @include transition-property(all);
                @include transition-duration(600ms);
                @include transition-timing-function(ease);
                @include border-radius(50%);
                @include box-sizing(border-box);
                @include breakpoint(v-ex-small) {
                    top: 525px;
                    width: 58px;
                    height: 58px;
                    margin-top: -30px;
                    margin-left: -29px;
                    padding-top: 6px;
                }
            }

            &:hover::after {
                padding: 0;
                content: "";
                left: 78%;
                margin-left: -38px;
                @include rotate(360deg);
                @include breakpoint(v-ex-small) {
                    margin-top: -29px;
                    line-height: 58px;
                }
            }
        }
    }
}