.banner {
    background: url("../../images/testimonials/content.jpg");
    .wow {
        @include breakpoint(middle) {
            width: 50%;
            margin: 0 auto;
        }
        @include breakpoint(small) {
            width: 66%;
            margin: 0 auto;
        }
        @include breakpoint(ex-small) {
            width: 64%;
            margin: 0 auto;
        }
        @include breakpoint(v-ex-small) {
            width: 100%;
        }
    }
    .left-part {
        position: relative;
        z-index: 10;
        padding: 15px 15px 14px;
        float: left;
        background: #231e13;
        @include breakpoint(middle) {
            float: none;
            padding: 15px 15px 14px;
            text-align: center;
        }
        @include breakpoint(small) {
            float: none;
            padding: 15px 13px 14px;
        }
        @include breakpoint(ex-small) {
            float: none;
        }
        .best-place {
            padding: 13px 53px 12px 25px;
            border: 1px solid #6f6859;
            @include breakpoint(small) {
                padding: 13px 23px 12px 25px;
                text-align: center;
            }
            @include breakpoint(ex-small) {
                padding-right: 23px;
                text-align: center;
            }
            figure {
                img {
                    opacity: 0.66;
                    max-width: 100%;
                    height: auto;
                }
                figcaption {
                    margin: 39px 0 0 40px;
                    float: right;
                    @include breakpoint(middle) {
                        float: none;
                    }
                    @include breakpoint(small) {
                        float: none;
                    }
                    @include breakpoint(ex-small) {
                        float: none;
                        margin: 19px 0 0;
                    }
                    h3 {
                        max-width: 320px;
                        font-family: "Maiden Orange", sans-serif;
                        font-size: 35px;
                        line-height: 36px;
                        text-transform: uppercase;
                        color: #D4CAB4;
                        @include breakpoint(ex-small) {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    .thumb {
        position: relative;
        display: block;
        float: right;
        overflow: hidden;

        img {
            position: relative;
            max-width: 100%;
            height: auto;
        }
        &::after {
            content: "";
            text-align: center;
            position: absolute;
            font: 400 24px/78px 'FontAwesome';
            width: 76px;
            height: 76px;
            left: -40px;
            top: 120px;
            margin-top: -38px;
            padding-left: 27px;
            background: #231e13;
            color: #d4cab4;
            @include transition-property(all);
            @include transition-duration(600ms);
            @include transition-timing-function(ease);
            @include border-radius(50%);
            @include box-sizing(border-box);
            @include breakpoint(middle) {
                content: "";
                left: 50%;
                top: -10px;
                width: 58px;
                height: 58px;
                margin-top: -30px;
                margin-left: -29px;
                padding: 6px 0 0;
            }
            @include breakpoint(small) {
                content: "";
                left: 50%;
                top: -10px;
                width: 58px;
                height: 58px;
                margin-top: -30px;
                margin-left: -29px;
                padding: 6px 0 0;
            }
            @include breakpoint(ex-small) {
                content: "";
                left: 50%;
                top: -10px;
                width: 58px;
                height: 58px;
                margin-top: -30px;
                margin-left: -29px;
                padding: 6px 0 0;
            }
        }

        &:hover::after {
            padding: 0;
            content: "";
            left: 78%;
            margin-left: -37%;
            @include rotate(360deg);
            @include breakpoint(middle) {
                top: 50%;
                @include rotate(360deg);
            }
            @include breakpoint(small) {
                top: 50%;
                @include rotate(360deg);
            }
            @include breakpoint(ex-small) {
                top: 50%;
                @include rotate(360deg);
            }
        }
    }
}