.offers {
    padding: 120px 0 200px;
    .features {
        @include breakpoint(ex-small) {
            padding-bottom: 30px;
            width: 58%;
            margin: 0 auto;
            text-align: center;
        }
        @include breakpoint(v-ex-small) {
            width: 100%;
        }
        h2 {
            font-family: 'Maiden Orange', sans-serif;
            font-size: 60px;
            line-height: 54px;
            color: #fff;
            text-align: left;
            text-transform: uppercase;
            @include breakpoint(small) {
                font-size: 40px;
            }
            @include breakpoint(ex-small) {
                font-size: 60px;
                text-align: center;
            }
            span {
                font-size: 100px;
                line-height: 88px;
                color: #ffe17a;
                @include breakpoint(small) {
                    font-size: 90px;
                }
                @include breakpoint(ex-small) {
                    font-size: 100px;
                }
            }

            &::after {
                content: "-------------------";
                display: block;
                margin: 12px 0 6px;
                font-size: 36px;
                color: #feddc0;
                opacity: 0.33;
                line-height: 26px;
                @include breakpoint(middle) {
                    font-size: 29px;
                }
                @include breakpoint(small) {
                    font-size: 22px;
                }
            }
        }
        p {
            font-size: 24px;
            line-height: 28px;
            color: #D4CAB4;
            @include breakpoint(small) {
                font-size: 21px;
            }
        }
        .organic {
            background: #6f6859;

            &:hover {
                background-color: #a73f07;
            }
        }
    }
    h2 {
        font-family: 'Maiden Orange', sans-serif;
        font-size: 40px;
        line-height: 42px;
        text-transform: uppercase;
        color: #e7e0d2;
        @include breakpoint(ex-small) {
            text-align: center;
        }

        span {
            color: #D5382C;
        }
    }
    figure {
        text-align: center;
        @include breakpoint(ex-small) {
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        figcaption {
            h3 {
                margin-top: 28px;
                font-family: 'Maiden Orange', sans-serif;
                font-size: 28px;
                line-height: 30px;
                color: #fbf1cf;
                text-transform: uppercase;
                @include breakpoint(middle) {
                    font-size: 27px;
                }
                @include breakpoint(small) {
                    font-size: 18px;
                }

                &::before {
                    content: url("../../images/offers/element-1.png");
                    padding: 0 5px;
                    @include breakpoint(middle) {
                        padding: 0;
                    }
                    @include breakpoint(small) {
                        padding: 0;
                    }
                }
                &::after {
                    content: url("../../images/offers/element-1.png");
                    padding: 0 5px;
                    @include breakpoint(middle) {
                        padding: 0;
                    }
                    @include breakpoint(small) {
                        padding: 0;
                    }
                }
            }
            p {
                margin-top: 20px;
                max-width: 260px;
                font-size: 18px;
                line-height: 22px;
                color: #eae3d5;
                @include breakpoint(ex-small) {
                    padding-top: 20px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.parallax {
    .parallax_image {
        opacity: 1;
    }
}