.presentation {
    background: url("../../images/presentation/header.jpg");
    @include breakpoint(ex-small) {
        padding-top: 56px;
    }
    .brand {
        margin-top: 68px;
        background: url("../../images/presentation/logo.png") no-repeat top center;
        min-width: 345px;
        padding: 90px 0 75px;
        text-align: center;
        @include breakpoint(ex-small) {
            margin-top: 0;
        }
        @include breakpoint(v-ex-small) {
            background: none;
            margin: 0 auto;
            padding: 0 0 30px 0;
            min-width: 275px;
            text-align: center;
        }
        h1 {
            font-family: 'Ewert', sans-serif;
            font-size: 40px;
            line-height: 42px;
            overflow: hidden;
            vertical-align: top;
            a {
                text-decoration: none;
                color: #fff;

                span {
                    &::before {
                        content: url("../../images/presentation/separator-02.png");
                        padding: 0 15px;
                    }
                }
            }
        }
        span {
            font-family: 'Cabin', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #fff;
            line-height: 26px;

        }
        p {
            margin-top: 44px;
            font-size: 26px;
            font-family: 'Yellowtail', sans-serif;
            color: #fff;
            @include breakpoint(v-ex-small) {
                margin-top: 4px;
            }
        }
    }
    .advertising {
        font-size: 0;
        background: url("../../images/presentation/pattern-02.jpg") repeat-y;
        top: 426px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 82.212552%;
        max-width: 1169px;
        padding: 23px 23px 22px;
        z-index: 1;
        @include breakpoint(middle) {
            width: 75%;
        }
        @include breakpoint(small) {
            width: 87%;
        }
        @include breakpoint(ex-small) {
            width: 70%;
            padding: 15px;
        }
        @include breakpoint(v-ex-small) {
            width: 100%;
        }

        .left-part {
            padding-right: 0;
            .carousel1 {
                @include breakpoint(large) {
                    height: 488px;

                    img {
                        height: 488px;
                    }
                }
                @include breakpoint(small) {
                    width: 97%;
                    height: auto;
                }
                @include breakpoint(ex-small) {
                    width: 97%;
                    height: auto;
                    padding-right: 10px;
                }
                .owl-item {
                    img {
                        @include breakpoint(middle) {
                            width: 100%;
                            height: auto;
                            padding-right: 15px;
                        }
                        @include breakpoint(ex-small) {
                            max-width: 100%;
                            height: auto;
                        }
                        @include breakpoint(v-ex-small) {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .right-part {
            padding-left: 0;

            @include breakpoint(ex-small) {
                padding-left: 15px;
            }
            @include breakpoint(v-ex-small) {
                padding-left: 0;
            }
            .share {
                float: right;
                @include breakpoint(middle){
                    float: none;
                    padding-left: 15px;
                }
                @include breakpoint(small) {
                    float: none;
                    padding: 0 2px 0 15px;
                }
                figure {
                    font-size: 0;
                    &:last-child {
                        img {
                            float: left;
                        }
                        figcaption {
                            background: #567721;
                        }
                    }
                    img {
                        width: 50%;
                        min-height: 244px;
                        @include breakpoint(large) {
                            height: 244px;
                        }
                        @include breakpoint(middle){
                            max-height: 244px;
                        }

                        @include breakpoint(v-ex-small) {
                            width: 94%;
                            margin: 0 15px;
                        }
                    }
                    figcaption {
                        width: 50%;
                        background: #BC5F15;
                        float: left;
                        max-height: 244px;
                        padding: 45px 0 33px;
                        text-align: center;
                        @include breakpoint(v-ex-small) {
                            width: 94%;
                            margin-left: 15px;
                            padding: 45px 15px 33px;
                        }

                        h2 {
                            font-family: 'Maiden Orange', sans-serif;
                            color: #ffedcb;
                            width: 215px;
                            text-transform: uppercase;
                            font-size: 37px;
                            line-height: 42px;
                            @include breakpoint(middle) {
                                margin: 0 auto;
                            }
                            @include breakpoint(small) {
                                margin: 0 auto;
                            }
                            @include breakpoint(ex-small) {
                                margin: 0 auto;
                            }

                            span {
                                font-size: 60px;
                                line-height: 50px;
                                color: #ffe17a;

                                &::after {
                                    content: url("../../images/presentation/separator-03.png");
                                }
                            }
                            .steak {
                                &::after {
                                    content: url("../../images/presentation/separator-04.png");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.parallax {
    position: relative;
    overflow: hidden;

    .parallax_image, .parallax_pattern {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-position: center center;
        will-change: transform;
    }
    .parallax_image {
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.44;
    }
    .parallax_pattern {
        background-repeat: repeat;
    }
    .parallax_cnt {
        position: relative;
    }
    .overflow {
        overflow: visible;
        @include breakpoint(middle) {
            overflow: hidden;
        }
    }
}
