footer {
    background: url("../../images/testimonials/content.jpg");

    .privacy {
        float: left;
        font-family: "Maiden Orange", sans-serif;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
        color: #e7e0d2;
        @include breakpoint(ex-small) {
            float: none;
            text-align: center;
        }

        a {
            margin-left: 21px;
            text-decoration: none;
            color: #e7e0d2;
            @include transition-property(all);
            @include transition-duration(300ms);

            &:hover {
                color: #a73f07;
            }
        }
    }
    ul {
        float: right;
        font-size: 0;
        @include breakpoint(ex-small) {
            float: none;
            margin-top: 20px;
            text-align: center;
        }
        li {
            display: inline-block;
            margin-left: 16px;
            a {
                font-size: 33px;
                line-height: 26px;
                color: #e7e0d2;
                @include transition-property(all);
                @include transition-duration(300ms);

                &:hover {
                    color: #a73f07;
                }
            }
        }
    }
    .map {
        position: relative;
        padding-top: 60px;
        line-height: 26px;

        .information-wrapper {
            position: absolute;
            right: 80px;
            top: 108px;
            padding: 14px;
            background: #f6f4ef;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #787765;
            @include breakpoint(middle) {
                right: 80px;
            }
            @include breakpoint(ex-small) {
                position: relative;
                top: 0;
                right: 0;
                display: block;
                margin: 0 auto;
                text-align: center;
            }

            .address {
                float: left;
                padding: 24px 43px 21px 30px;
                border: 1px solid #c9bf96;
                border-right: 2px dashed #c9bf96;
                color: #5e4c38;
                font-size: 20px;
                line-height: 30px;
                @include breakpoint(ex-small) {
                    float: none;
                    border: 1px solid #c9bf96;
                }

                &:before {
                    content: url("../../images/footer/element-3.png");
                    display: block;
                    margin-bottom: 17px;
                }
            }
            .contacts {
                float: right;
                padding: 24px 40px 21px 40px;
                border: 1px solid #c9bf96;
                border-left: none;
                @include breakpoint(ex-small) {
                    float: none;
                    border: 1px solid #c9bf96;
                }

                &:before {
                    content: url("../../images/footer/element-4.png");
                    display: block;
                    margin-bottom: 12px;
                }

                span {
                    a {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 700;
                        color: #282828;
                        text-decoration: none;
                    }
                }
                a {
                    font-size: 18px;
                    line-height: 30px;
                    text-decoration: none;
                    color: #e76d4b;
                    @include transition-property(all);
                    @include transition-duration(300ms);

                    &:hover {
                        color: #e1481e;
                    }
                }
            }
        }
    }
}