.separator{
    margin-top: 23px;
    background: #e7e0d2;
    height: 4px;
    max-width: 100%;
    @include breakpoint(ex-small){
        margin: 0 15%;
        width: 70%;
    }
    @include breakpoint(v-ex-small){
        margin: 23px 0 0 0;
        width: 100%;
    }
}

.thin{
    margin: 4px 0 29px;
    height: 1px;
    @include breakpoint(ex-small){
        margin: 4px 15% 29px;
        width: 70%;
    }
    @include breakpoint(v-ex-small){
        margin: 4px 0 29px;
        width: 100%;
    }
}