@mixin breakpoint($point) {
    @if $point == large {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $point == middle {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    } @else if $point == small {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    } @else if $point == ex-small {
        @media (max-width: 767px) {
            @content
        }
    } @else if $point == v-ex-small {
        @media (max-width: 320px) {
            @content
        }
    }
}