body {
    .rd-mobilemenu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999999;
        text-align: left;
        @include transition(300ms, all, ease);
        @include breakpoint(ex-small) {
            display: block;
        }
    }
    .rd-mobilemenu.active {
        right: 0;
    }

    .rd-mobilemenu_ul {
        position: fixed;
        top: 55px;
        left: 0;
        bottom: 0;
        width: 240px;
        padding: 20px 0;
        color: #fff;
        background: url("../../images/header/header-bg.jpg");
        font-family: "Maiden Orange", sans-serif;
        font-size: 14px;
        line-height: 20px;
        overflow: auto;
        text-transform: capitalize;
        @include box-shadow(5px 0 5px 0 rgba(0, 0, 0, 0.1));
        @include translateX(-240px);
        @include transition(300ms ease);
        @include transition(300ms cubic-bezier(0.55, 0, 0.1, 1));

    }
    .rd-mobilemenu.active .rd-mobilemenu_ul {
        @include translateX(0);
    }
    .rd-mobilemenu_ul a {
        display: block;
        padding: 9px 25px 11px;
        color: #fff;
        text-decoration: none;
    }
    .rd-mobilemenu_ul a:hover {
        background: none;
        color: #ffedcb;
    }
    .rd-mobilemenu_ul ul a {
        padding-left: 40px;
        text-transform: lowercase;
    }
    .rd-mobilemenu_ul ul ul a {
        padding-left: 60px;
    }
    .rd-mobilemenu_ul:after {
        content: '';
        display: block;
        height: 20px;
    }

    .rd-mobilepanel {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 56px;
        background: url("../../images/header/header-bg.jpg");
        color: #FFF;
        z-index: 99999991;
        @include box-shadow(0 3px 3px 0 rgba(0, 0, 0, 0.1));
        @include breakpoint(ex-small) {
            display: block;
        }
    }

    .rd-mobilepanel_title {
        position: fixed;
        top: 4px;
        left: 56px;
        right: 56px;
        color: #FFF;
        font-family: "Maiden Orange", sans-serif;
        font-size: 24px;
        line-height: 48px;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: center;
        @include breakpoint(v-ex-small) {
            font-size: 18px;
        }
    }

    .rd-mobilepanel_toggle {
        position: fixed;
        background: none;
        border: none;
        display: inline-block;
        padding: 0;
        outline: none;
        outline-offset: 0;
        cursor: pointer;
        -webkit-appearance: none;
        top: 4px;
        left: 8px;
        width: 48px;
        height: 48px;
    }
    .rd-mobilepanel_toggle::-moz-focus-inner {
        border: none;
        padding: 0;
    }
    .rd-mobilepanel_toggle span {
        position: relative;
        display: block;
        margin: auto;
        @include transition(all 0.3s ease);
    }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        @include transition(all 0.3s ease);

    }
    .rd-mobilepanel_toggle span:after {
        top: 8px;
    }
    .rd-mobilepanel_toggle span:after, .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span {
        width: 24px;
        height: 4px;
        background-color: #FFF;
        backface-visibility: hidden;
        @include border-radius(2px);
    }
    .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
        @include transition-duration(0.3s, 0.3s);
        @include transition-delay(0.3s, 0s);
        @include transition-property(top, transform);
    }
    .rd-mobilepanel_toggle.active span {
        transition: background .3s 0s ease;
        background: transparent;
    }
    .rd-mobilepanel_toggle.active span:before, .rd-mobilepanel_toggle.active span:after {
        top: 0;
        @include transition-delay(0s, 0.3s);
    }
    .rd-mobilepanel_toggle.active span:before {
        @include rotate(45deg);
    }
    .rd-mobilepanel_toggle.active span:after {
        @include rotate(-45deg);
    }
}